apiVersion: cs.opensourceways.com/v1alpha1
kind: CodeServer
metadata:
  name: {{ .Name }}
  namespace: opengauss-tryme
spec:
  runtime: pgweb
  subdomain: {{ .Subdomain }}
  image: "swr.cn-north-4.myhuaweicloud.com/opensourceway/opengauss/webclient:v1.0.2"
  inactiveAfterSeconds: 0
  recycleAfterSeconds: 1800
  command:
    - /bin/bash
    - -c
    - |
      source ~/.bashrc
      /home/gauss/openGauss/install/bin/gs_ctl start -D /home/gauss/openGauss/data
      /usr/bin/pgweb --bind=0.0.0.0 --listen=8080 --url "postgres://openGauss:openGauss2022@0.0.0.0:5432/openGauss?sslmode=disable" --lock-session --skip-open
  envs:
    - name: UNUSED_CREDENTIAL
      value: {{ .NamePassword }}
    - name: UNUSED_COMMUNITY_EMAIL
      value: {{ .ContactEmail }}
  connectProbe: "/"
  privileged: false
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
